body, html {
  background-color: #222;
  color: #eee;
  height:99%;
  width: 100%;
 overflow:hidden;
}

#bg {

 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

input {
  font-size:20px;
  border: 2px solid #222;
}
 
